@model Domain.Models.Entities.AppUser

@{
    ViewData["Title"] = "Details";
}
@section Styles
{
    <link rel="stylesheet" href="~/css/User/user-details.css" />
}

<div>
    <a asp-action="UsersList" data-toggle="tooltip" data-placement="top" title="Back">
        <i class="bi bi-arrow-left-circle-fill back-action"></i>
    </a>
</div>

<div class="details-header">
    <span class="details-header-text">User details</span>
    <a asp-action="Edit" asp-route-id="@Model.Id" data-toggle="tooltip" data-placement="top" title="Edit">
        <i class="bi bi-pencil-fill user-edit-icon"></i>
    </a>
</div>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Surname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Surname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            Role
        </dt>
        <dd class="col-sm-10">
            @ViewBag.Role
        </dd>
    </dl>
</div>
