@model InClassApp.Models.Entities.Meeting

@{
    ViewData["Title"] = "DetailsStudent";
}

@section Styles
{
    <link rel="stylesheet" href="~/css/Meeting/meeting-details-student.css" />
}

<div>
    <a asp-controller="Groups" asp-action="Details" asp-route-id="@Model.GroupId" data-toggle="tooltip" data-placement="top" title="Back">
        <i class="bi bi-arrow-left-circle-fill back-action"></i>
    </a>
</div>

<div class="row">
    <div class="col-10">
        <span class="details-header">Meetings details</span>
    </div>
    <div class="col-2">
        @if (Model.IsAttendanceCheckLaunched && !ViewBag.CurrentUserStatus)
        {
            <a href="#" class="btn btn-success" onclick="OpenCodeProvideModal()">
                Declare attendance
            </a>
        }
    </div>
</div>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MeetingStartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MeetingStartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MeetingEndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MeetingEndDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Group)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Group.Name)
        </dd>
        <dt class="col-sm-2">
            <span>My attendance status</span>
        </dt>
        <dd class="col-sm-10">
            @(ViewBag.CurrentUserStatus ? "Present" : "Absent")
        </dd>
    </dl>
</div>

<div class="modal fade" id="inputCodeModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Provide code given by lecturer</h3>
                <a href="#" class="close" data-dismiss="modal">&times;</a>
            </div>
            <div class="modal-body">
                <h5>Code:</h5>
                <input type="text" id="providedCode">
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-default" data-dismiss="modal">Cancel</a>
                <a href="#" class="btn btn-success" onclick="CodeProvidedConfirm()">Confirm</a>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script>
        var OpenCodeProvideModal = function () {
            $("#inputCodeModal").modal('show');
        }

        var CodeProvidedConfirm = function () {
            let providedCode = $("#providedCode").val();
            $.ajax({
                type: "POST",
                url: "../../Meetings/ValidateCode",
                data: { meetingId: @Model.Id, providedCode: providedCode },
                success: function (result) {
                    if (result) {
                        $("#inputCodeModal").modal('hide');
                        location.reload(true);
                    }
                    else {
                        alert('Wrong code');
                    }
                }
            })
        }
    </script>
}
