@model InClassApp.Models.Entities.Subject

@{
    ViewData["Title"] = "Details";
}

@section Styles
{
    <link rel="stylesheet" href="~/css/Subject/subject-details.css" />
}

<div>
    <a asp-action="Index" data-toggle="tooltip" data-placement="top" title="Back">
        <i class="bi bi-arrow-left-circle-fill back-action"></i>
    </a>
</div>

<div class="details-header">
    <span class="details-header-text">Subject details</span>
    <a asp-action="Edit" asp-route-id="@Model.Id" data-toggle="tooltip" data-placement="top" title="Edit">
        <i class="bi bi-pencil-fill subject-edit-icon"></i>
    </a>
</div>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Code)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Code)
        </dd>
    </dl>
</div>

@if (ViewBag.Groups.Count > 0)
{
    <h4 class="mt-4">Active Groups</h4>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    StudiesSemestr
                </th>
                <th>
                    Subject
                </th>
                <th>
                    Lecturers
                </th>
                <th>
                    StartDate
                </th>
                <th>
                    EndDate
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.Groups)
            {
                <tr>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @item.StudiesSemestr
                    </td>
                    <td>
                        @item.Subject.Name
                    </td>
                    <td>
                        @foreach (var relation in item.LecturerGroupRelations)
                        {
                            <div>@relation.Lecturer.User.UserName</div>
                        }
                    </td>
                    <td>
                        @item.StartDate
                    </td>
                    <td>
                        @item.EndDate
                    </td>
                    <td>
                        <div class="subject-groups-list-actions">
                            <a asp-controller="Groups" asp-action="Details" asp-route-id="@item.Id" data-toggle="tooltip" data-placement="top" title="Details">
                                <i class="bi bi-card-list"></i>
                            </a>
                            <a asp-controller="Groups" asp-action="Edit" asp-route-id="@item.Id" data-toggle="tooltip" data-placement="top" title="Edit">
                                <i class="bi bi-pencil-fill"></i>
                            </a>
                            <a asp-controller="Groups" asp-action="Delete" asp-route-id="@item.Id" data-toggle="tooltip" data-placement="top" title="Delete">
                                <i class="bi bi-trash-fill"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
