@model InClassApp.Models.Entities.Student

@{
    ViewData["Title"] = "Delete";
}

@section Styles
{
    <link rel="stylesheet" href="~/css/Group/group-add-student.css" />
}

<div>
    <a asp-action="StudentsList" asp-route-id="@ViewBag.GroupId" data-toggle="tooltip" data-placement="top" title="Back">
        <i class="bi bi-arrow-left-circle-fill back-action"></i>
    </a>
</div>

<h1>Remove student</h1>

<div class="row">
    <div class="col-8">
        <h4>Are you sure you want to remove this student from group?</h4>
    </div>
    <div class="col-2"></div>
    <span class="group-delete-btn">
        <form asp-action="RemoveStudent" asp-route-groupId="@ViewBag.GroupId" asp-route-studentId="@Model.Id">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Remove" class="btn btn-danger" />
        </form>
    </span>
</div>

<div>
    <hr/>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.UserName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Index)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Index)
        </dd>
    </dl>
</div>
